# TypeScript build output
/dist
# Node.js dependencies
node_modules/

# IDE/Editor configurations (e.g., VSCode, JetBrains)
.vscode/
.idea/


# OS-specific files
.DS_Store
Thumbs.db


# npm logs
npm-debug.log*

# Rollup cache
.rollup.cache/